<div class="gray-menu-item txt-center">
	<%= @sidebar_header_text %>
</div>

<div class="row margin-top-20">
	<div class="col-sm-4">
		<div class="sidebar-avatar-container">
			<%= render "partials/extras/ajax_loader" %>
			<%= image_tag(get_user_avatar(session[:user_id], :medium), class: "img-responsive", id: "sidebar-new-avatar", data: { toggle: "tooltip", placement: "top" }, title: "Click to Change") %>
			<%= form_tag do %>
				<input class="hide" name="new-avatar" type="file" id="new-avatar" />
			<% end %>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="bold">
			<%= @user.first_name %> <%= @user.last_name[0] %>.
		</div>
		<div class="margin-top-10">
			<a href="#">10 Followers</a>
		</div>
		<div>
			<a href="#">10 Following</a>
		</div>

		<% if @user.id != session[:user_id] %>
			<div class="margin-top-10">
				<a href="#">Follow <%= @user.first_name %></a>
			</div>
		<% end %>
	</div>
</div>