<% if session[:user_id] %>
<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="/"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="/events">Events</a></li>
					<li><a href="/blogs">Blogs</a></li>
					<%= render "partials/headers/dropdowns/logged_in_dropdown" %>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->
<% end %>

<% if !(session[:user_id]) %>
<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="/"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="/events">Events</a></li>
					<li><a href="/blogs">Blogs</a></li>
					<%= render "partials/headers/dropdowns/unlogged_dropdown" %>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->
<% end %>

<!--/Header Gray Wrap-->
<div class="dark-header-background">
	<!--Header Search Boxes-->
	<div class="fmf-header-search container">
		<%= form_tag("/businesses/find", method: "GET") do %>
		<div class="margin-top-20">
			<div class="row">
				<div class="col-sm-4">
					<input name="query" class="header-search-input margin-top-5" type="text" placeholder="Name, category..." />
				</div>
				<div class="col-sm-1 txt-center margin-top-10 white-text">
					NEAR
				</div>
				<div class="col-sm-5">
					<input name="location" class="header-search-input margin-top-5" type="text" placeholder="Location, neighborhood, etc..." />
				</div>
				<div class="col-sm-2 txt-center">
					<button type="submit" class="fmf-ellipse-turquoise-button">Search</button>
				</div>
			</div>
		</div>
		<% end %>

		<%= render "partials/navs/category_nav" %>
	</div>
	<!--/Header Search Boxes-->

	<!--Inner Sub Header-->
	<div class="container margin-top-50 margin-bottom-30">
		<div class="row">
			<div class="col-sm-8">
				<div class="large-title padding-top-10">
					<%= @header_text %>
				</div>
			</div>
			<div class="col-sm-4 txt-right">
				<% if @button %>
					<button class="fmf-ellipse-turquoise-button" type="button">Write a Post</button>
				<% end %>
			</div>
		</div>
	</div>
	<!--/Inner Sub Header-->
</div>
<!--/Header Gray Wrap-->