<% if session[:user_id] %>
<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="/"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="/events">Events</a></li>
					<li><a href="/blogs">Blogs</a></li>
					<%= render "partials/headers/dropdowns/logged_in_dropdown" %>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->
<% end %>

<% if !(session[:user_id]) %>
<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="/"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="/events">Events</a></li>
					<li><a href="/blogs">Blogs</a></li>
					<%= render "partials/headers/dropdowns/unlogged_dropdown" %>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->
<% end %>

<!--Header Search Boxes-->
<div class="fmf-header-search container">
	<%= form_tag("/businesses/find", method: "GET") do %>
	<div class="gray-gradient radius-5 padding-10">
		<div class="row">
			<div class="col-sm-4">
				<input name="query" class="header-search-input margin-top-5" type="text" placeholder="Name, category..." />
			</div>
			<div class="col-sm-1 txt-center margin-top-10 white-text">
				NEAR
			</div>
			<div class="col-sm-5">
				<input name="location" class="header-search-input margin-top-5" type="text" placeholder="City, state or zip code" />
			</div>
			<div class="col-sm-2 txt-center">
				<button type="submit" class="fmf-ellipse-turquoise-button">Search</button>
			</div>
		</div>
	</div>
	<% end %>

	<%= render "partials/navs/category_nav" %>
</div>
<!--/Header Search Boxes-->