<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-2">
			<%= render "partials/sidebars/business_admin_sidebar" %>
		</div>
		<div class="col-sm-10">
			<% if flash[:bus_update_success] %>
				<div class="alert alert-success">
					Business updated successfully!
				</div>
			<% end %>

			<%= form_tag("businesses/edit") do %>
			<div class="extra-large-title">
				Editing <%= @business.name %> Profile
			</div>
			<div class="row margin-top-20">
				<div class="col-sm-6">
					<div class="bold">
						Name:
					</div>
					<div class="margin-top-10">
						<input type="text" name="business[name]" class="form-control" placeholder="Your Business Name" value="<%= @business.name %>" />
					</div>
				</div>
			</div>
			<div class="row margin-top-20">
				<div class="col-sm-6">
					<div class="bold">
						Business Type:
					</div>
					<div class="margin-top-10">
						<select class="form-control" name="business[business_type]">
							<option value="Yoga" <%= if @business.business_type == "Yoga" then "selected" end %>>Yoga</option>
							<option value="Gyms" <%= if @business.business_type == "Gyms" then "selected" end %>>Gyms</option>
							<option value="Martial Arts" <%= if @business.business_type == "Martial Arts" then "selected" end %>>Martial Arts</option>
							<option value="Boxing" <%= if @business.business_type == "Boxing" then "selected" end %>>Boxing</option>
							<option value="Rock Climbing" <%= if @business.business_type == "Rock Climbing" then "selected" end %>>Rock Climbing</option>
							<option value="Pilates" <%= if @business.business_type == "Pilates" then "selected" end %>>Pilates</option>
							<option value="Dance" <%= if @business.business_type == "Dance" then "selected" end %>>Dance</option>
							<option value="Other" <%= if @business.business_type == "Other" then "selected" end %>>Other</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row margin-top-50">
				<div class="col-sm-6">
					<div class="medium-title">
						Location
					</div>
					<div class="margin-top-20 bold">
						Address:
					</div>
					<div class="margin-top-10">
						<input type="text" name="business[address]" class="form-control" placeholder="Address" value="<%= @business.address %>" />
					</div>
					<div class="row margin-top-20">
						<div class="col-sm-4">
							<div class="bold">
								City:
							</div>
							<div class="margin-top-10">
								<input name="business[city]" type="text" class="form-control" placeholder="City" value="<%= @business.city %>" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="bold">
								State:
							</div>
							<div class="margin-top-10">
								<select name="business[state]" class="form-control">
									<option>CA</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="bold">
								Zipcode:
							</div>
							<div class="margin-top-10">
								<input name="business[zipcode]" type="text" class="form-control" placeholder="Zipcode" value="<%= @business.zipcode %>" />
							</div>
						</div>
					</div>
					<div class="margin-top-20 medium-title">
						Contact Information
					</div>
					<div class="margin-top-20 bold">
						Phone Number:
					</div>
					<div class="margin-top-10">
						<input name="business[phone]" type="text" class="form-control" value="<%= @business.phone %>" />
					</div>
					<div class="margin-top-20 bold">
						Website:
					</div>
					<div class="margin-top-10">
						<input name="business[website]" type="text" class="form-control" placeholder="Website" value="<%= @business.website %>" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="medium-title">
						Business Hours
					</div>
					<div class="margin-top-20">
						<textarea name="business[availability]" class="form-control" placeholder="Example: M-F 8am to 9pm"><%= @business.availability %></textarea>
					</div>
					<div class="medium-title margin-top-20">
						Business Services
					</div>
					<div class="row margin-top-20">
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-weights">
									<input type="checkbox" name="services[weights]" id="check-weights" value="Weights" <%= if @services.include? "Weights" then "checked" end %> /> Weights
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-running-track">
									<input type="checkbox" name="services[track]" id="check-running-track" value="Running Track" <%= if @services.include? "Running Track" then "checked" end %> /> Running Track
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-pool">
									<input type="checkbox" name="services[pool]" id="check-pool" value="Swimming Pool" <%= if @services.include? "Swimming Pool" then "checked" end %> /> Swimming Pool
								</label>
							</div>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-classes">
									<input type="checkbox" name="services[classes]" value="Fitness Classes" id="check-classes" <%= if @services.include? "Fitness Classes" then "checked" end %>> Fitness Classes
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-instructors">
									<input type="checkbox" name="services[instructors]" value="Personal Instructors" id="check-instructors" <%= if @services.include? "Personal Instructors" then "checked" end %>> Personal Instructors
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-pilates">
									<input type="checkbox" name="services[pilates]" value="Pilates" id="check-pilates" <%= if @services.include? "Pilates" then "checked" end %>> Pilates
								</label>
							</div>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-spa">
									<input type="checkbox" name="services[spa]" value="Spa" id="check-spa" <%= if @services.include? "Spa" then "checked" end %>> Spa
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-sauna">
									<input type="checkbox" name="services[sauna]" value="Sauna" id="check-sauna" <%= if @services.include? "Sauna" then "checked" end %>> Sauna	
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-massage">
									<input type="checkbox" name="services[massage]" value="Massage" id="check-massage" <%= if @services.include? "Massage" then "checked" end %>> Massage Service
								</label>
							</div>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-cycling">
									<input type="checkbox" name="services[cycling]" value="Cycling" id="check-cycling" <%= if @services.include? "Cycling" then "checked" end %>> Cycling
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-courts">
									<input type="checkbox" name="services[courts]" value="Sport Courts" id="check-courts" <%= if @services.include? "Sport Courts" then "checked" end %>> Sport Courts
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-cardio">
									<input type="checkbox" name="services[cardio]" value="Cardio" id="check-cardio" <%= if @services.include? "Cardio" then "checked" end %>> Cardio
								</label>
							</div>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-towels">
									<input type="checkbox" name="services[towels]" value="Towels" id="check-towels" <%= if @services.include? "Towels" then "checked" end %>> Towels
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-steam">
									<input type="checkbox" name="services[steam]" value="Steam Room" id="check-steam" <%= if @services.include? "Steam Room" then "checked" end %>> Steam Room
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-cafe">
									<input type="checkbox" name="services[cafe]" value="Cafeteria" id="check-cafe" <%= if @services.include? "Cafeteria" then "checked" end %>> Cafeteria
								</label>
							</div>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-child-care">
									<input type="checkbox" name="services[child_care]" value="Child Care" id="check-child-care" <%= if @services.include? "Child Care" then "checked" end %>> Child Care
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-diet">
									<input type="checkbox" name="services[diet]" value="Dietary Consults" id="check-diet" <%= if @services.include? "Dietary Consults" then "checked" end %>> Dietary Consults
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="checkbox">
								<label for="check-meditation">
									<input type="checkbox" name="services[meditation]" value="Meditation Areas" id="check-meditation" <%= if @services.include? "Meditation Areas" then "checked" end %>> Meditation Areas
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="margin-top-50">
				<div class="medium-title">
					Description
				</div>
				<div class="margin-top-10">
					<textarea name="business[description]" class="form-control bus-description-edit"><%= @business.description %></textarea>
				</div>
			</div>
			<div class="margin-top-20 pull-right">
				<button type="submit" class="fmf-ellipse-turquoise-button margin-left-20">Finish Editing</button>
			</div>
			<% end %>
		</div>
	</div>
</div>
<!--/Main-->