<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-2">
			<%= render "partials/sidebars/business_admin_sidebar" %>
		</div>
		<div class="col-sm-10">
			<div class="extra-large-title">
				What Your Customers Say About You
			</div>

			<% if @business_reviews.empty? %>
				<div class="medium-title margin-top-20">
					No reviews yet.
				</div>
			<% end %>

			<% @business_reviews.each do |review| 

				user = get_user_info(review.user_id)

			%>
			<!--One Review-->
			<div class="row margin-top-20">
				<div class="col-sm-2">
					<%= image_tag(get_profile_pic_thumb(review.user_id), class: "img-responsive") %>
				</div>
				<div class="col-sm-10">
					<div class="bold">
						<%= user.first_name %> <%= user.last_name %>
					</div>
					<div class="italic">
						Member since <%= get_member_since(user.id) %>
					</div>
					<div class="margin-top-10">
						<img src="/assets/stars/stars<%= review.star_rating %>.png" />
					</div>
					<div class="margin-top-10">
						<%= review.review_text %>
					</div>
				</div>
			</div>
			<!--/One Review-->
			<% end %>

			<div class="margin-top-20">
				<%= will_paginate(@business_reviews) %>
			</div>
		</div>
	</div>
</div>
<!--/Main-->