<!--Main-->
<div class="container margin-top-50 margin-bottom-50">
	<div class="row">
		<!--Main Column One-->
		<div class="col-sm-7">
			<div class="row">
				<div class="large-title col-sm-6">
					<%= @business_info.name %>
				</div>
				<div class="col-sm-6 txt-right">
					<%= form_tag do %>
						<button data-business="<%= @business_info.id %>" id="business-save-button" type="button" class="fmf-ellipse-dark-blue-button">+</button>
					<% end %>
				</div>
			</div>

			<!--Gym Stars-->
			<div class="row">
				<div class="col-sm-12">
					<%= image_tag("stars/stars4.png") %>
				</div>
			</div>
			<!--/Gym Stars-->

			<div class="clearfix margin-top-20 gray-rollover-menu">
				<div id="toggle-bus-info" class="col-sm-4 gray-menu-item clickable txt-center gray-menu-item-active">
					INFO
				</div>
				<div id="toggle-bus-reviews" class="col-sm-4 gray-menu-item clickable txt-center">
					REVIEWS
				</div>
				<div id="toggle-bus-photos" class="col-sm-4 gray-menu-item clickable txt-center">
					PHOTOS
				</div>
			</div>

			<!--Info and Contact Info-->
			<div id="business-info" class="margin-top-20">
				<div class="row">
					<div class="col-sm-6">
						<div class="medium-title">
							<%= @business_info.address %>
						</div>
						<div class="medium-title">
							<%= @business_info.city %>, <%= @business_info.state %>
						</div>

						<div class="margin-top-20">
							<%= simple_format(@business_info.availability) %>
						</div>
						
						<div class="margin-top-20">
							<%= number_to_phone(@business_info.phone, area_code: true) %>
						</div>

						<div class="margin-top-20">
							<a href="<%= @business_info.website %>" target="_blank"><%= @business_info.website %></a>
						</div>

						<div class="margin-top-20 bold">
							Services:
						</div>
						<div class="row">
							<div class="col-sm-6">
								<% for i in 0..2 %>
									<div>
										<%= @services_info[i].try(:bus_service) %>
									</div>
								<% end %>
							</div>
							<div class="col-sm-6">
								<% for i in 3..5 %>
									<div>
										<%= @services_info[i].try(:bus_service) %>
									</div>
								<% end %>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<% for i in 6..8 %>
									<div>
										<%= @services_info[i].try(:bus_service) %>
									</div>
								<% end %>
							</div>
							<div class="col-sm-6">
								<% for i in 9..11 %>
									<div>
										<%= @services_info[i].try(:bus_service) %>
									</div>
								<% end %>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<% for i in 12..14 %>
									<div>
										<%= @services_info[i].try(:bus_service) %>
									</div>
								<% end %>
							</div>
							<div class="col-sm-6">
								<% for i in 15..17 %>
									<div>
										<%= @services_info[i].try(:bus_service) %>
									</div>
								<% end %>
							</div>
						</div>

						<div class="margin-top-50">
							<hr />
						</div>
					</div>
					<div class="col-sm-6">
						<div>
							<img src="http://placehold.it/300x300" />
						</div>
						<div>
							<button class="light-blue-large-button txt-center">
								Get directions <i class="fa fa-angle-double-right"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="margin-top-20">
					<div class="medium-title">
						Description
					</div>
					<div class="margin-top-10">
						<%= @business_info.description %>
					</div>
				</div>

				<!-- <div class="margin-top-20">
					<button type="button" class="fmf-ellipse-dark-blue-button regular-text">Get deals now</button>
				</div> -->

				<div class="margin-top-20">
					<a href="#">
						<i class="fa fa-angle-double-left"></i> Go back to search
					</a>
				</div>
				<!--/Info and Contact Info-->
			</div>

			<!--Reviews-->
			<div id="business-reviews" class="margin-top-20" style="display:none;">
				<div class="medium-title">
					Recent Reviews
				</div>

				<div class="row margin-top-20">
					<% 
					#Show the first two reviews if there are more than 2

					if @business_reviews.length > 2 
						for i in 0..1 do
							current_user = User.find(@business_reviews[i].user_id)
					%>
					<!--One Review Column-->
					<div class="col-sm-6">
						<div>
							<%= image_tag("stars/stars" + @business_reviews[i].star_rating.to_s + ".png") %>
						</div>

						<div class="row margin-top-10">
							<div class="col-sm-3">
								<img src="/assets/temp/profile-pic.jpg" class="img-responsive" />
							</div>
							<div class="col-sm-9">
								<div class="bold">
									<%= current_user.first_name %> <%= current_user.last_name %>
								</div>
								<div class="italic">
									Member since <%= current_user.created_at %>
								</div>
							</div>
						</div>

						<div class="margin-top-10">
							<%= @business_reviews[i].review_text %>
						</div>

						<div class="margin-top-10 pull-right">
							<a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div>
					<!--/One Review Column-->
					<% end %>
				</div>
				<% end %>

				<div class="write-review-button txt-center margin-top-20">
					<a href="#">Write a review...</a>
				</div>

				<% for i in 2..@business_reviews.length - 1 
					current_user = User.find(@business_reviews[i].user_id)
				%>
				<!--One Review-->
				<div class="review-wrapper">
					<div class="row">
						<div class="col-sm-3">
							<%= image_tag("temp/profile-pic.jpg", :class => "img-responsive") %>
						</div>
						<div class="col-sm-9">
							<div class="bold">
								<%= current_user.first_name %> <%= current_user.last_name %>
							</div>
							<div class="italic">
								Member since <%= current_user.created_at %>
							</div>
							<div class="margin-top-10">
								<%= @business_reviews[i].review_text %>
							</div>
						</div>
					</div>
				</div>
				<!--/One Review-->
				<% end %>
			</div>
			<!--/Reviews-->

			<!--Photos-->
			<div id="business-photos" class="margin-top-20" style="display:none;">
				<div>
					<span class="medium-title">Photo of Building</span> <span>posted by <a href="#">Tom Steele</a></span>
				</div>

				<div id="galleria" class="margin-top-20">
					<img src="https://s3-us-west-2.amazonaws.com/sandboxapi/petalos.jpg" />
					<img src="https://s3-us-west-2.amazonaws.com/sandboxapi/petalos.jpg" />
				</div>
			</div>
			<!--/Photos-->
		</div>
		<!--/Main Column One-->

		<!--Main Column Two-->
		<div class="col-sm-4 col-sm-offset-1">
			<div class="gray-menu-item txt-center">
				Your Recent Searches
			</div>

			<div class="margin-top-20">
				You have no recent searches
			</div>

			<div class="margin-top-20">
				<img src="http://placehold.it/300x250" />
			</div>
		</div>
		<!--/Main Column Two-->
	</div>
</div>
<!--/Main-->