<!--Main-->
<input type="hidden" id="page_id" value="business_search" />

<% if params[:location] && params[:location] != "" %>
	<input type="hidden" id="location-address" value="<%= params[:location] %>" />
<% end %>

<% if !params[:location] || params[:location] == "" && !@fail %>
	<input type="hidden" id="location-address" value="<%= @user_loc['city'] %>, <%= @user_loc['region_code'] %>" />
<% end %>

<input type="hidden" id="page_id" value="business_show" />
<div class="container margin-top-50 margin-bottom-50">
	<div class="col-sm-8">
		<% if params[:query] && params[:query] != "" %>
		<div class="medium-title">
			Search Query: <%= params[:query] %>
		</div>
		<% end %>
		<!--One Business-->
		<% @businesses.each do |business| %>
		<div>
			<div class="row one-business-search">
				<div class="col-sm-4">
					<a href="/business/<%= business.id %>"><%= image_tag(get_bus_thumb(business.business_hash, :helper), class: "img-responsive") %></a>
				</div>
				<div class="col-sm-8">
					<div class="medium-title">
						<a href="/business/<%= business.id %>"><%= business.name %></a>
					</div>
					<div>
						Category: <a href="#"><%= business.business_type %></a>
					</div>
					<div class="margin-top-10">
						<%
						bus_avg_rating(business.id) 
						if @average_reviews %>
						<img src="/assets/stars/stars<%= @average_reviews %>.png" />
						<% end %>
					</div>
					<div class="margin-top-10">
						<%= business.address %>
					</div>
					<div>
						<%= number_to_phone(business.phone, area_code: true) %>
					</div>
					<div class="margin-top-10">
						<% if business.description %>
							<%= business.description[0..145] %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<!--/One Business-->
		
		<% if @businesses.length == 0 %>
			<h1>Nothing Found :(</h1>
			<div class="margin-top-20">
				<a href="<%= request.referrer %>"><< Go back</a>
			</div>
		<% end %>

		<% if !@fail %>
			<div class="margin-top-20">
				<%= will_paginate @businesses %>
			</div>
		<% end %>
	</div>
	<div class="col-sm-4">
		<div id="map-canvas"></div>

		<% if session[:user_id] %>
			<div class="margin-top-20">
				<a data-toggle="modal" data-target="#add-business-modal" href="#">If you don't see the business you want to review, you can add the establishment by clicking here.</a>
			</div>
		<% end %>
	</div>
</div>
<!--/Main-->

<%= render "partials/modals/add_business_modal" %>