<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<%= render "partials/extras/users_search" %>

	<% if @users.empty? %>
		<div class="medium-title">
			Nothing Found :(
		</div>
	<% end %>

	<% @users.in_groups_of(3, false) do |group| %>
		<div class="row margin-top-20">
			<% group.each do |user|

				if user.user_type == "business"
					business_flag = true
					business = Business.where(user_id: user.id).first
				end

			%>
				<!--One Follower-->
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-6">
							<% if !business_flag %>
								<% user_avatar = get_user_avatar(user.id, :medium) 
									if user_avatar == "profile-placeholder.png"
								%>
									<div class="responsive-block-image" style="background:url('/assets/profile-placeholder.png') no-repeat;">
									</div>
								<% else %>
									<div class="responsive-block-image" style="background:url(<%= user_avatar %>) no-repeat;">
									</div>
								<% end %>
							<% else %>
								<div class="responsive-block-image" style="background:url('<%= get_bus_thumb(business.business_hash, :link) %>') no-repeat;">
									</div>
							<% end %>
						</div>
						<div class="col-sm-6">
							<% if !business_flag %>
								<div class="medium-title margin-top-50">
									<%= user.first_name %> <%= user.last_name %>
								</div>
								<div>
									<a href="/profile/<%= user.id %>">Visit Profile</a>
								</div>
							<% else %>
								<div class="medium-title margin-top-50">
									<%= business.name %>
								</div>
								<div>
									<a href="/profile/<%= user.id %>">Visit Profile</a>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<!--/One Follower-->
			<% end %>
		</div>
	<% end %>

	<div class="margin-top-20">
		<%= will_paginate(@users) %>
	</div>
</div>
<!--/Main-->