<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-3">
			<div class="left-sidebar-menu">
				<a href="#">Reviews</a>
				<a href="#">Your Posts</a>
				<a href="#">Saves</a>
				<a href="#">Events</a>
			</div>
		</div>
		<div class="col-sm-9">
			<div>
				<a href="/blog/new"><button class="fmf-ellipse-dark-blue-button small-button" type="button">Write a Post</button></a>
			</div>

			<!--One Blog Feed Item-->
			<% @blogs.each do |blog| 

				user = User.find(blog.user_id)

				picture = BlogPhoto.where(post_id: blog.post_id).try(:first)

			%>
			<div class="blog-item">
				<div class="row">
					<div class="col-sm-6">
						<div class="medium-title">
							<%= blog.post_title %>
						</div>
					</div>
					<div class="col-sm-6 txt-right">
						<% if blog.post_privacy == "public" %>
							<span class="label label-info">PUBLIC</span>
						<% end %>
						<% if blog.post_privacy == "private" %>
							<span class="label label-danger">PRIVATE</span>
						<% end %>
					</div>
				</div>
				<div>
					<a href="/profile/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a>
				</div>
				<div class="blog-feed-image margin-top-20" style="background:url(<%= picture.try(:post_photo) %>) no-repeat;"></div>
				<div class="margin-top-10">
					<%= simple_format(blog.post_text) %>
				</div>
				<div class="margin-top-10">
					<a href="#"><%= get_comment_count(blog.id) %> Comments</a> | <a href="#">Share</a>
				</div>
			</div>
			<% end %>
			<!--/One Blog Feed Item-->

			<div class="margin-top-20">
				<%= will_paginate @blogs %>
			</div>
		</div>
	</div>
</div>
<!--/Main-->