<!--Main-->
<%= form_tag do end %>
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-9">

			<!--Blog Tabs-->
			<div>
				<ul class="nav nav-tabs">
					<li class="<%= if params[:cat] && params[:cat] == "all" || !params[:cat] then "active" end %>"><a href="/blogs?cat=all">All Posts</a></li>
					<li class="<%= if params[:cat] && params[:cat] == "following" then "active" end %>"><a href="/blogs?cat=following">Who You're Following</a></li>
				</ul>
			</div>
			<!--/Blog Tabs-->

			<% if @blogs %>
				<% @blogs.each do |blog| 

					user = User.find(blog.user_id)

					if user.user_type == "business"
						business = Business.where(user_id: user.id).try(:first)
					end

					like_exists = BlogLike.where(user_id: session[:user_id], post_id: blog.id).exists?

				%>
					<div class="row">
						<!--One Blog Feed Item-->
						<div class="col-sm-12">
							<div class="blog-item">
								<div class="row">
									<div class="col-sm-12">
										<div class="medium-title">
											<a href="/post/<%= blog.id %>"><%= blog.post_title %></a>
										</div>
									</div>
								</div>
								<div>
									<% if user.user_type == "standard" || user.user_type == "superuser" %>
										<a href="/profile/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a>
									<% else %>
										<a href="/profile/<%= user.id %>"><%= business.name %></a>
									<% end %>
								</div>

								<% if get_post_photo(blog.post_id) %>
									<div class="blog-feed-image blog-feed-image-small margin-top-20" style="background:url(<%= get_post_photo(blog.post_id) %>) no-repeat;"></div>
								<% end %>

								<div class="margin-top-10">
									<%= simple_format(blog.post_text) %>
								</div>
								<div class="margin-top-10 blog-like-text">
									<%= pluralize(get_likes(blog.id), "Like") %>
								</div>
								<div class="margin-top-10">
									<span class="bold">Tags:</span> <%= get_tag_list(blog.id) %>
								</div>
								<div class="margin-top-10">
									<% if session[:user_id] %>
										<a data-id="<%= blog.id %>" class="blog-like-button <%= if like_exists then 'post-liked' end %>" href="#">Like</a> | 
									<% end %>
									<a href="/post/<%= blog.id %>"><%= get_comment_count(blog.id) %> Comments</a> | 
									<a href="/post/<%= blog.id %>">Share</a>
								</div>
							</div>
							<!--/One Blog Feed Item-->
						</div>
					</div>
				<% end %>
			<% end %>

			<% if @blogs %>
				<div class="margin-top-20">
					<%= will_paginate @blogs %>
				</div>
			<% end %>
		</div>
		<div class="col-sm-3">
			<div class="bold">
				Search By Hash Tag
			</div>

			<%= form_tag("/blogs", method: :get) do %>
				<div class="margin-top-10">
					<input type="text" name="hash_tags" data-role="tagsinput" class="form-control" required />
				</div>

				<div class="margin-top-10">
					<button type="submit" class="fmf-ellipse-dark-blue-button small-button">Search Tags</button>
				</div>
			<% end %>

			<div class="margin-top-20 bold">
				Search Users
			</div>

			<%= form_tag("/users/search", method: :get) do %>
				<div class="margin-top-10">
					<input type="text" name="q" class="form-control" required />
				</div>

				<div class="margin-top-10">
					<button type="submit" class="fmf-ellipse-dark-blue-button small-button">Search Users</button>
				</div>
			<% end %>

			<!-- <div class="left-sidebar-menu margin-top-20">
				<a href="/blog/me">Your Posts</a>
				<a href="/profile/saves">Your Saves</a>
				<a href="/events">Events</a>
			</div> -->
		</div>
	</div>
</div>
<!--/Main-->