<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-3">
			<% if !params[:user_id] %>
				<%= render "partials/sidebars/profile_left_sidebar" %>
			<% else %>
				<%= render "partials/sidebars/profile_left_sidebar_public" %>
			<% end %>
		</div>
		<div class="col-sm-9">
			<% if !params[:user_id] %>
				<div>
					<a href="/blog/new"><button class="fmf-ellipse-dark-blue-button small-button" type="button">Write a Post</button></a>
				</div>
			<% end %>

			<% if @blogs.empty? %>
				<div class="margin-top-20 large-title">
					No posts yet. Write one!
				</div>
			<% end %>

			<!--One Blog Feed Item-->
			<% @blogs.each do |blog| 

				user = User.find(blog.user_id)

			%>
			<div class="blog-item">
				<div class="row">
					<div class="col-sm-6">
						<div class="medium-title">
							<a href="/post/<%= blog.id %>"><%= blog.post_title %></a>
						</div>
					</div>
					<div class="col-sm-6 txt-right">
						<% if blog.post_privacy == "public" %>
							<span class="label label-info">PUBLIC</span>
						<% end %>
						<% if blog.post_privacy == "private" %>
							<span class="label label-danger">PRIVATE</span>
						<% end %>
					</div>
				</div>
				<div>
					<a href="/profile/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a>
				</div>

				<% if get_post_photo(blog.post_id) %>
					<div class="blog-feed-image margin-top-20" style="background:url(<%= get_post_photo(blog.post_id) %>) no-repeat;"></div>
				<% end %>
				
				<div class="margin-top-10">
					<%= simple_format(blog.post_text) %>
				</div>
				<div class="margin-top-10">
					<a href="/post/<%= blog.id %>"><%= get_comment_count(blog.id) %> Comments</a> | <a href="/post/<%= blog.id %>">Share</a> 
					<% if !params[:user_id] %>
						| <a href="/post/<%= blog.id %>/edit">Edit Post</a>
					<% end %>
				</div>
			</div>
			<% end %>
			<!--/One Blog Feed Item-->

			<div class="margin-top-20">
				<%= will_paginate @blogs %>
			</div>
		</div>
	</div>
</div>
<!--/Main-->