<!--Main-->
<input type="hidden" id="page_id" value="show_post" />
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-8">
			<!--One Blog Feed Item-->
			<div class="blog-item">
				<div class="row">
					<div class="col-sm-12">
						<% if session[:user_type] == "superuser" %>
							<div class="margin-top-20">
								<%= form_tag do end %>
								<a id="super-user-delete-post" data-id="<%= @post.id %>" href="#" class="super-user-delete-link">Delete Post</a>
							</div>
						<% end %>

						<div class="medium-title">
							<%= @post.post_title %>
						</div>
					</div>
				</div>
				<div>
					<% if @type == "standard" %>
						<a href="/profile/<%= @user.id %>"><%= @user.first_name %> <%= @user.last_name[0] + "." %></a>
					<% else %>
						<a href="/business/<%= @business.id %>"><%= @business.name %></a>
					<% end %>
				</div>

				<% if @post_photos.any? %>
					<div class="margin-top-20" id="galleria">
						<% @post_photos.each do |photo| %>
							<img src="<%= photo.post_photo %>" />
						<% end %>
					</div>

					<div class="margin-top-20">
						<a href="#" class="report-photos-button" data-hash="<%= @post.post_id %>" data-type="blog">Report as Spam</a>
					</div>

					<% if session[:user_type] == "superuser" %>
						<div class="margin-top-20">
							<a href="/admin/photos/blog?hash=<%= @post.post_id %>" class="super-user-delete-link">Edit Photo Set</a>
						</div>
					<% end %>
				<% end %>

				<div class="margin-top-20">
					<%= simple_format(@post.post_text) %>
				</div>
			</div>
			<!--/One Blog Feed Item-->

			<% if session[:user_id] %>
				<div class="txt-center margin-top-20">
					<a data-id="<%= @post.id %>" class="blog-like-button <%= if @like_exists then 'post-liked' end %>" href="#">Like This</a>
				</div>

				<div class="write-review-button txt-center margin-top-20">
					<a href="#" data-toggle="modal" data-target="#write-post-comment">Write a Comment</a>
				</div>

				<% @post_comments.each do |post| 

					user = User.find(post.commentor_id)

					if user.user_type == "business"
						business = Business.where(user_id: user.id).first
					end
				%>
				<!--One Comment-->
				<div class="row margin-top-20">
					<div class="col-sm-2">
						<%= image_tag(user.avatar.url(:thumb), class: "img-responsive") %>
					</div>
					<div class="col-sm-10">
						<% if user.user_type == "standard" %>
							<div class="bold">
								<%= user.first_name %> <%= user.last_name[0] + "." %>
							</div>
						<% else %>
							<div class="bold">
								<%= business.name %>
							</div>
						<% end %>
						<div class="margin-top-10">
							<%= simple_format(post.blog_comment) %>
						</div>
					</div>
				</div>
				<!--/One Comment-->
				<% end %>

				<div class="margin-top-20">
					<%= will_paginate(@post_comments) %>
				</div>
			<% end %>

		</div>
		<div class="col-sm-4">
			<%= render "partials/sidebars/post_author_sidebar" %>
		</div>
	</div>
</div>

<% if session[:user_id] %>
<!--Write Comment Modal-->
<div class="modal fade" id="write-post-comment">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= form_tag("/comments/" + @post.id.to_s) do %>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Write Your Comment</h4>
			</div>
			<div class="modal-body">
				<div class="margin-top-10">
					<textarea name="comment_text" placeholder="Your comment here" class="form-control"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save Comment</button>
			</div>
			<% end %>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/Write Comment Modal-->
<% end %>

<%= render "partials/modals/follow_confirm_modal" %>

<%= render "partials/modals/photos_spam_modal" %>

<!--/Main-->