<!--Main-->
<div class="container margin-top-50 margin-bottom-50">
	<div class="row">
		<div class="col-sm-4">
			<%= render "partials/sidebars/user_info_sidebar" %>
		</div>
		<div class="col-sm-8">
			<% if flash[:success] %>
				<div class="alert alert-success">
					<%= flash[:success] %>
				</div>
			<% end %>
			<%= form_tag do %>
				<div class="large-title">
					Your Profile
				</div>
				<div class="bold margin-top-20">
					First Name
				</div>
				<div class="margin-top-10">
					<input name="user[first_name]" type="text" class="form-control" value="<%= @user.first_name %>" />
				</div>
				<div class="bold margin-top-20">
					Last Name
				</div>
				<div class="margin-top-10">
					<input name="user[last_name]" type="text" class="form-control" value="<%= @user.last_name %>" />
				</div>
				<div class="bold margin-top-20">
					Email Address
				</div>
				<div class="margin-top-10">
					<input name="user[email_address]" type="text" class="form-control" value="<%= @user.email_address %>" />
				</div>
				<% if !session[:social_user] %>
					<div class="bold margin-top-20">
						New Password
					</div>
					<div class="margin-top-10">
						<input name="user[password]" type="password" class="form-control" placeholder="Enter a new password here" />
					</div>
				<% end %>
				<div class="row margin-top-20">
					<div class="bold col-sm-8">
						City
					</div>
					<div class="bold col-sm-4">
						State
					</div>
				</div>
				<div class="row margin-top-20">
					<div class="col-sm-8">
						<input name="user[city]" type="text" class="form-control" value="<%= @user.city %>" />
					</div>
					<div class="col-sm-4">
						<%= select_tag :state, options_for_select(us_states, @user.state), class: "form-control", name: "user[state]" %>
					</div>
				</div>
				<div class="bold margin-top-20">
					About Me
				</div>
				<div class="margin-top-10">
					<textarea name="user[about_me]" class="form-control" placeholder="Let us know about yourself!"><%= @user.about_me %></textarea>
				</div>
				<div class="margin-top-20 txt-right">
					<button class="fmf-ellipse-turquoise-button" type="submit">Submit Edits</button>
				</div>
			<% end %>
		</div>
	</div>
</div>
<!--/Main-->