<!DOCTYPE html>
<html>
<head>
  <title>FindMyFitness</title>
  <meta charset="utf8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:login] %>
<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="#"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="#">Events</a></li>
					<li><a href="#">Blogs</a></li>
					<li><a href="#">Forums</a></li>
					<li class="txt-right"><a href="#" class="btn btn-primary">Hi, <%= session[:user][:first_name] %>! | <i class="fa fa-chevron-down"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->

<!--Header Search Boxes-->
<div class="fmf-header-search container">
	<div class="gray-gradient radius-5 padding-10">
		<div class="row">
			<div class="col-sm-4">
				<input class="header-search-input margin-top-5" type="text" placeholder="Name, category..." />
			</div>
			<div class="col-sm-1 txt-center margin-top-10 white-text">
				NEAR
			</div>
			<div class="col-sm-5">
				<input class="header-search-input margin-top-5" type="text" placeholder="Location, neighborhood, etc..." />
			</div>
			<div class="col-sm-2 txt-center">
				<button class="fmf-ellipse-turquoise-button">Search</button>
			</div>
		</div>
	</div>

	<div class="margin-top-10 row">
		<div class="col-sm-1 bold">
			Categories:
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Yoga</a>
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Gyms</a>
		</div>
		<div class="col-sm-2 txt-center">
			<a href="#">Martial Arts</a>
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Boxing</a>
		</div>
		<div class="col-sm-2 txt-center">
			<a href="#">Rock Climbing</a>
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Pilates</a>
		</div>
		<div class="col-sm-2 txt-center">
			<a href="#">Dance</a>
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Other</a>
		</div>
	</div>
</div>
<!--/Header Search Boxes-->
<% end %>

<% if !(session[:login]) %>
<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="#"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="#">Events</a></li>
					<li><a href="#">Blogs</a></li>
					<li><a href="#">Forums</a></li>
					<li class="login-top-button txt-right login-top-button">
						<a id="login-toggle-button" data-toggle="dropdown" href="#" class="btn btn-primary">Login or Signup | <i class="fa fa-chevron-down"></i></a>
						<div id="login-top-menu">
							<div>
								<input type="text" class="form-control" placeholder="Username" />
							</div>
							<div class="margin-top-20">
								<input type="password" class="form-control" placeholder="Password" />
							</div>
							<div class="margin-top-20">
								<button class="btn btn-primary btn-block">Sign In</button>
							</div>
							<div class="margin-top-10 txt-left">
								<a id="signup-toggle-button" href="#">Sign Up for an Account</a>
							</div>
							<div class="txt-left margin-top-10">
								<a href="#">Forgot Username / Password?</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->

<!--Header Search Boxes-->
<div class="fmf-header-search container">
	<div class="gray-gradient radius-5 padding-10">
		<div class="row">
			<div class="col-sm-4">
				<input class="header-search-input margin-top-5" type="text" placeholder="Name, category..." />
			</div>
			<div class="col-sm-1 txt-center margin-top-10 white-text">
				NEAR
			</div>
			<div class="col-sm-5">
				<input class="header-search-input margin-top-5" type="text" placeholder="Location, neighborhood, etc..." />
			</div>
			<div class="col-sm-2 txt-center">
				<button class="fmf-ellipse-turquoise-button">Search</button>
			</div>
		</div>
	</div>

	<div class="margin-top-10 row">
		<div class="col-sm-1 bold">
			Categories:
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Yoga</a>
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Gyms</a>
		</div>
		<div class="col-sm-2 txt-center">
			<a href="#">Martial Arts</a>
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Boxing</a>
		</div>
		<div class="col-sm-2 txt-center">
			<a href="#">Rock Climbing</a>
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Pilates</a>
		</div>
		<div class="col-sm-2 txt-center">
			<a href="#">Dance</a>
		</div>
		<div class="col-sm-1 txt-center">
			<a href="#">Other</a>
		</div>
	</div>
</div>
<!--/Header Search Boxes-->
<% end %>

<%= yield %>

<!--Footer-->
<div class="footer-wrapper">
	<div class="footer-container margin-top-20">
		<div class="row">
			<div class="col-sm-6">
				<div class="medium-white-title bottom-white-border">
					Links
				</div>

				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">About Us</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Site Feedback</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">FAQs</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Advertise With Us</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Contact Us</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Terms of Use</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Careers</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Site Map</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="medium-white-title bottom-white-border">
					Categories
				</div>

				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Yoga</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Rock Climbing</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Gyms</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Pilates</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Martial Arts</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Dance</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Boxing</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Other</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/Footer-->

<!--Signup Modal-->
<div class="modal fade" id="signup-modal">
	<div class="modal-dialog modal-lg">
		<%= form_tag("/newuser") do %>
		<div class="modal-content">
			<div class="modal-body">
				<div class="large-title">
					Be a part of the fitness revolution and join now!
				</div>
				<div class="margin-top-10">
					You'll be able to write reviews, post photos, take part in forum discussions and receive notifications regarding our many giveaways and exclusive offers!
				</div>

				<div class="row margin-top-20">
					<div class="col-sm-6">
						<div class="medium-title">
							Sign Up Using Facebook
						</div>
						<div class="margin-top-50">
							<a class="fmf-ellipse-turquoise-button">
								<i class="fa fa-facebook"></i> | Sign Up With Facebook
							</a>
						</div>
					</div>
					<div class="col-sm-6">
							<div class="medium-title">
								New User
							</div>

							<div class="row margin-top-20">
								<div class="col-sm-6">
									<div class="bold">
										Username
									</div>
									<div class="margin-top-10">
										<input name="user[username]" type="text" class="form-control" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="bold">
										Password
									</div>
									<div class="margin-top-10">
										<input name="user[password]" type="password" class="form-control" />
									</div>
								</div>
							</div>

							<div class="row margin-top-20">
								<div class="col-sm-6">
									<div class="bold">
										First Name
									</div>
									<div class="margin-top-10">
										<input name="user[first_name]" type="text" class="form-control" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="bold">
										Last Name
									</div>
									<div class="margin-top-10">
										<input name="user[last_name]" type="text" class="form-control" />
									</div>
								</div>
							</div>

							<div class="margin-top-20">
								<div class="bold">
									Email
								</div>
								<div class="margin-top-10">
									<input name="user[email_address]" type="email" class="form-control" />
								</div>
							</div>

							<div class="row margin-top-20">
								<div class="col-sm-8">
									<div class="bold">
										City
									</div>
									<div class="margin-top-10">
										<input name="user[city]" type="text" class="form-control" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="bold">
										State
									</div>
									<div class="margin-top-10">
										<select name="user[state]" class="form-control">
											<option>CA</option>
										</select>
									</div>
								</div>
							</div>

							<div class="margin-top-20 bold">
								User Type
							</div>

							<div class="margin-top-10">
								<select name="user[user_type]" class="form-control">
									<option value="standard">Standard User</option>
									<option value="business">Business User</option>
								</select>
							</div>

							<div class="margin-top-20">
								<div class="checkbox">
									<label>
										<input type="checkbox"> I agree to the Terms of Service
									</label>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Signup</button>
			</div>
		</div><!-- /.modal-content -->
		<% end %>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/Signup Modal-->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
