<!DOCTYPE html>
<html>
<head>
  <title>FindMyFitness</title>
  <meta charset="utf8" />
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag(source='favicon.ico') %>
</head>
<body>

<%= render "partials/headers/super_user_header" %>

<%= render "partials/headers/business_info_header" %>

<%= yield %>

<%= render "partials/footers/standard_footer" %>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<%= javascript_include_tag 'application' %>

</body>
</html>