<!DOCTYPE html>
<html>
<head>
  <title>FindMyFitness</title>
  <meta charset="utf8" />

  <% if @business_info && @business_info.account_type == "paid" %>
  	<meta name="description" content="<%= @business_info.description %>" />
  <% end %>

  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag(source='favicon.ico') %>
</head>
<body>

<%= render "partials/headers/super_user_header" %>

<%= render "partials/headers/business_header" %>

<%= yield %>

<%= render "partials/footers/standard_footer" %>

<%= javascript_include_tag 'application' %>

</body>
</html>